@font-face {
    font-family: "Satoshi";
    src: url("src/assets/font/Satoshi-Variable.ttf");
  }
  
  @font-face {
    font-family: "Jura";
    src: url("src/assets/font/Jura-VariableFont_wght.ttf") ;
  }
  
  @font-face {
    font-family: "PPTalisman";
    src: url("src/assets/font/PPTalisman-Compact-Regular.otf") ;
  }
