.footer {
    font-size: 12px; 
    font-family: "Jura", sans-serif;
    display: flex;
    justify-content: space-between;
  
   
  
    &__el {
      margin-top: 5px; 
    }

    &__socials{
      list-style: none;
      padding: 0px;
    }

    a{
      text-decoration: none;
    }
  }
  
  
  