.header {
  font-family: "Jura", sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;

  .header__content {
    display: flex;
    align-items: center;

    .header__texte {
      margin-right: 20px;
    }

    .header__icone {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      img {
        width: 35px;
        transition: transform 0.3s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .navigation {
    &__list {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;
      align-items: flex-start;

      &__el {
        margin-bottom: 10px;
      }
      
      a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
      }
    }
  }

 

  @media (min-width: 600px) {
    .navigation {
      &__list {
        flex-direction: row;
        align-items: center;
        margin-top: 0;
        gap: 40px;
      }
    }
  }
}



 @media (min-width: 0px) {
    .main {
      margin-left: 28px;
      margin-right: 28px;
    }
  }


