.intro {
  position: relative;
  height: 100vh;
  border-radius: 11px;
  transition: height 0.5s; 
}

.intro__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transform-origin: top; /* Pour que l'image se réduise à partir du haut */
}

.intro__titre {
  position: relative;
  top: 300px;
  color: #FAFAF9;
}
