.a-propos {
  display: flex; 
  justify-content: space-between;
  align-items: flex-start; 
  position: relative;

  &__content {
    flex: 1; 
  }


  &__titre {
    font-family: "Jura", sans-serif;
    font-size: 21px;
    color: #476662;
    text-transform: uppercase;
  }

  &__img {
    display: block;
     margin-left: auto;
  }

  &__btn{
    display: block;
    margin-left: auto;
  }
  
  &__texte{
    width: 70%;
  }

 
}


  

  
  
  .projets {
    position: relative;
    &__categories {
      list-style-type: none;
      margin-bottom: 20px;
      padding: 0;
    }

      &__btn {
        font-size: 28px;
        text-transform: uppercase;
        cursor: pointer;
        padding-left: 20px;
        margin-bottom: 20px;
        background: url('../assets/images/décoration/arrow-proj.svg') left top no-repeat;
        border: none;
        outline: none;
  position: relative;
  overflow: hidden;
  transition: color 0.3s, border-bottom-width 0.3s; /* Transition pour la couleur et l'épaisseur de la bordure */
  border-bottom: 2px dotted ; 
        

        
        &:hover {
          color:  #597370;
          transform: scale(0.9);
          
        }

        &.active{

          color: #597370;
        }
      } 

  
   
    &__type-btn,
    &__theme-btn {
      margin-bottom: 20px; 
      display: none;
      list-style: none;
    }
  


      &__boutons{
        font-family: "Jura", sans-serif;
        margin: 10px;
        padding: 12px 20px;
        border: 2px dotted #333; 
        border-radius: 11px;
        background-color: transparent;
        color: #000; 
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s;
        cursor: pointer;
    
        &:hover {
          background-color: #333; 
          color: #fff;
          border-color: #fff; 
          transform: scale(1.1);
        }

        &.active{
          background-color: #597370;
          color: #fff;
          border-color: #fff; 
        }
    }

   
    
    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 250px;
      gap: 20px;
      list-style: none;
  }

  &__grid-item1 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: end; 
  }

  &__grid-item2 {
    display: flex;
      align-items: center;
      justify-content: center;
      align-self: start; 
  }

  &__grid-item3 {
      display: flex;
      align-items: center;
      justify-content: center;
  }
   
  }


  .notes{
    width: 20%; 
    padding: 10px;
    border-left: 2px dotted #ccc;
    box-sizing: border-box;
    margin-left: 40px;
    display: none;


    p {
      font-size: 16px;
      margin: 0;
      padding: 10px;

      &:last-child {
        border-bottom: none;
      }
    }
}



  @media (min-width: 600px){
    
 
   

  .projets {
    &__grid {

      grid-template-columns: repeat(3, 1fr);
 
  }
  }

  .notes{
    display: block;
  }
}