
.a-propos {
    position: relative;


   
    &__titre {
      font-family: "Jura", sans-serif;
      text-transform: uppercase;
    }
  
    &__img-normal {
      position: relative; 
      width: 130px; 
    }
  
    &:hover {
        & + .a-propos__container::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          background-image: url('../assets/images/décoration/moi-negatif.jpg');
          background-size: cover;
          z-index: -1;
        }
      }
  

    &__container {
      margin-right: 20px; 
      text-align: right; 
    } 
   
  }


  
  
  .projets {
    &__categories {
      list-style-type: none;
      margin-bottom: 20px;
      padding: 0;
  
      .projets__btn {
        text-transform: uppercase;
        cursor: pointer;
        padding-left: 20px;
        background: url('../assets/images/décoration/arrow-proj.svg') left center no-repeat;
        background-size: 15px; 
      }
  
      .projets__el-types,
      .projets__el-themes {
        cursor: pointer;
        transition: color 0.3s;
  
        &:hover {
          color: #000;
        }
      }
    }
  
  
  
  
   
    &__type-btn,
    &__theme-btn {
      margin-bottom: 20px; 
      display: none;
    }
  
    .type-btn,
    .theme-btn {
      font-family: "Jura", sans-serif;
      margin: 5px;
      padding: 10px 20px;
      border: 2px dotted #000; 
      border-radius: 11px;
      background-color: transparent;
      color: #000; 
      text-decoration: none;
      transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
      cursor: pointer;
  
      &:hover {
        background-color: #000; 
        color: #fff;
        border-color: #fff; 
      }
    }
   
  }


  .images{
    &__grid{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    }

    &__grid-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    margin-top: 27px;
    grid-row-gap: 27px;
    }

    
  }

  .grid{

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 10vh);

  }

  .grid-self-start{
    align-self: start;
  }
  .grid-self-center{
    align-self: center;
  }
  .grid-self-end{
    align-self: end;
  }
