@import 'utils/variables';
@import 'components/type';

@font-face {
    font-family: "Satoshi";
    src: url("src/assets/font/Satoshi-Variable.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Jura";
    src: url("src/assets/font/Jura-VariableFont_wght.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "PPTalisman";
    src: url("src/assets/font/PPTalisman-Compact-Regular.otf") format("opentype");
  }



body {
background-color: #FAFAF9;
font-family: "Satoshi", sans-serif;
font-size: 16px;
}

.navigation {
  font-family: "Jura", sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  

  &__icone {
    width: 45px;
  }

  &__list {
    list-style: none; 
    padding: 0; 
    margin: 0; 
     
  }

  &__list li {
    display: block;
    margin-top: 5px;
    
  }
}

.header {
    height: 100vh;
    background-image: url('../assets/images/test_bg.png');
    background-size: cover; 
    background-position: center;
    border-radius: 11px;
    transition: background-size 0.5s; 
  
    &__titre {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #FAFAF9;
    }
  }
  


  .a-propos {
    position: relative;


   
    &__titre {
      font-family: "Jura", sans-serif;
    }
  
    &__img {
      position: relative; 
      width: 130px; 
    }
  
    &__img-hover {
      position: absolute; 
      top: 0;
      left: 0;
      display: none;
    }
  
    
    &__img-normal:hover + &__img-hover {
      display: block; 
    }
  }
  

  .projets {
    .projets__catégories {
      list-style-type: none;
      margin-bottom: 20px; 
      padding: 0;

      img{
        width: 15px;
      }
  
      li {
      
        cursor: pointer;
        transition: color 0.3s; 

        &:hover {
          color: #000;
        }

      }
    }
  
   
    .projets__proj-btn,
    .projets__theme-btn {
      margin-bottom: 20px; 
      display: none;
    }
  
    .proj-btn,
    .theme-btn {
      font-family: "Jura", sans-serif;
      margin: 5px;
      padding: 10px 20px;
      border: 2px dotted #000; 
      border-radius: 11px;
      background-color: transparent;
      color: #000; 
      text-decoration: none;
      transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
      cursor: pointer;
  
      &:hover {
        background-color: #000; // Fond noir au survol
        color: #fff; // Texte blanc au survol
        border-color: #fff; // Bordure blanche au survol
      }
    }

    /*
    .projets__contenu {
      display: none; 
    }*/
      
  }
  

  .footer {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    font-size: 12px; 
    font-family: "Jura", sans-serif;
  
    &__gauche {
      display: flex;
      flex-direction: column; 
      justify-content: flex-start; 
    }
  
    &__droite {
      display: flex;
      flex-direction: column;
      justify-content: flex-end; 
    }
  
    &__el {
      margin-top: 5px; 
    }

    &__socials .footer__el + .footer__el {
      margin-left: 10px;
    }
  }
  
  
  